<mat-list role="list" class="sidebar">
  <h2>Courses</h2>
   
    <mat-list-item role="listitem" >
      <a  href="https://www.w3schools.com/cs/index.php">C-Sharp Tutorial</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a href="https://www.w3schools.com/js/default.asp">JavaScript Tutorial</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a href="https://www.w3schools.com/html/default.asp">HTML Tutorial</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a href="https://www.w3schools.com/css/default.asp">CSS Tutorial</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a href="https://angular.io/docs">AngularJS Tutorial</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a href="https://www.w3schools.com/sql/default.asp">SQL Tutorial</a>
    </mat-list-item>
  </mat-list>
  