table[b-yuvh5ejc52]{
    border: 1px solid black;
}
thead[b-yuvh5ejc52] {
    border: 1px solid black;
}
th[b-yuvh5ejc52] {
    border: 1px solid black;
}
tr[b-yuvh5ejc52] {
    border: 1px solid black;
}
td[b-yuvh5ejc52] {
    border: 1px solid black;
}

